#version-tag {
  position: absolute;
  top: 16px;
  left: 16px;
  background: linear-gradient(135deg, #333, #111);
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
}

a-image#recipeImage {
  border-radius: 8px;
  border: 0.05em solid white;
}